/* width */
::-webkit-scrollbar {
    width: 7px;
    cursor: grab;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    cursor: grab;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222222;
    cursor: grab;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111111;
    cursor: grab;
  }